.material-icons {
    vertical-align: middle !important;
    padding-bottom: 2px;
}

.myDIV {
    align: center;
}

.bgimg {
    background-image: url('../images/graffit.jpg');
    background-color: #cccccc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe{
    border: 0px;
}